.svg-container {
    align: center;
}

text {
    text-anchor: middle;
    dominant-baseline: middle;
}

*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}
